@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section#preface header{
	break-after: avoid;
	font-variant: small-caps;
	margin-top: 3em;
	text-align: center;
}

section#preface p{
	margin-top: 1em;
}

section#preface > div:last-child > p:last-child{
	margin-top: 2em;
}

[epub|type~="z3998:drama"] table,
table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"] [epub|type~="z3998:persona"],
em [epub|type~="z3998:persona"],
i [epub|type~="z3998:persona"]{
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

section[epub|type~="z3998:scene"] > p{
	margin: 1em auto;
	width: 75%;
}

tr.together{
	break-inside: avoid;
}

tr.together td{
	padding: 0 .5em 0 0;
	vertical-align: middle;
}

tr.together td:only-child,
tr.together td + td{
	border-left: 1px solid;
}

.together + .together td[rowspan],
.together + .together td[rowspan] + td{
	padding-top: .5em;
}

[epub|type~="z3998:drama"] .together td:last-child{
	padding-left: .5em;
}

[epub|type~="z3998:drama"] table p{
	text-indent: 0;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}
